@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Roboto+Slab:wght@100;400&display=swap');

#babas {
    font-family: 'Bebas Neue', cursive;
}

#montserrat {
    font-family: 'Montserrat', sans-serif;
}

#robotoSlab {
    font-family: 'Roboto Slab', serif;
}
